.header {
  padding: 0.9375rem 0px;
  border: 1px solid lightblue;

  &__container {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 47.9988rem) {
      justify-content: center;
    }
  }

  &__menu {
  }
}
.menu {
  &__body {
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px 0.9375rem;
  }
  &__item {
  }

  &__link {
  }
}
