.contacts {
  &__container {
  }

  &__content {
    padding: 3.125rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  &__form {
  }
}
.form-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__input {
    border: 2px solid var(--color-magenta);
    border-radius: 5px;
    color: var(--color-purple);
    padding: 10px;
    width: 300px;
    background: transparent;

    &_first {
    }

    &_second {
    }
  }

  &__textarea {
    border: 2px solid var(--color-magenta);
    color: var(--color-purple);
    border-radius: 5px;
    padding: 10px;
    resize: none;
    background: transparent;

    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  &__btn {
    align-self: center;
    padding: 10px 25px;
    border-radius: 4px;
  }
}
