.item-projects {
  flex: 0 1 400px;
  background: var(--color-gray);
  border-radius: 5px;

  &__content {
    @media (any-hover: hover) {
      &:hover {
        .item-projects__btn {
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
        }
      }
    }
    &:nth-child(even) {
      background: rgb(77, 77, 77);
    }
  }

  &__media {
    position: relative;
  }
  &__img {
    &-placeholder {
      height: 200px;
      width: 100%;
      background: var(--color-magenta);
    }
  }
  &__btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__body {
    padding: 10px;
  }

  &__title {
    color: var(--color-purple);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__description {
    color: var(--color-magenta);
    padding: 5px;
  }
}
