.skills {
  padding: 1.25rem 0px;

  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &__title {
    color: var(--color-steel);
    &:not(:last-child) {
      margin-bottom: 3.125rem;
    }
  }
  &__items {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    margin: 0px -15px;

    @media (max-width: 47.9988rem) {
      flex-direction: column;
    }
  }

  .skill__item {
    flex: 0 1 33.333%;
    padding: 0px 15px;
  }
}
