.skills {
  padding: 1.25rem 0px;
}
.skills__container {
}

.skills__content {
  border: 1px solid lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.skills__title {
  font-weight: 700;
}

.skills__title:not(:last-child) {
  margin-bottom: 3.125rem;
}

.skills__items {
  align-self: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1.25rem;
}

@media (max-width: 47.9988rem) {
  .skills__items {
    flex-direction: column;
  }
}
