.skills {
  padding: 1.25rem 0px;

  &__container {
  }

  &__content {
    border: 1px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

  &__title {
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: 3.125rem;
    }
  }
  &__items {
    align-self: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.25rem;

    @media (max-width: 47.9988rem) {
      flex-direction: column;
    }
  }
}
