.footer {
  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 3.125rem 0px;
  }

  &__title {
    font-weight: 700;
    align-self: center;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__items {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fit, 40px);
    grid-template-rows: repeat(auto-fit, 40px);
    justify-content: center;

    &:not(:last-child) {
      margin-bottom: 2.5rem;
    }
  }

  &__item {
  }

  &__copy {
    align-self: center;
  }

  &__text {
    font-weight: 700;
  }
}
.item-footer {
  background: grey;

  &__content {
  }

  &__placeholder {
  }
}
