.hero {
  padding: 1.25rem 0px;

  &__container {
  }

  &__content {
    padding: 0px 3.125rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightblue;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 100vh;

    @media (max-width: 47.9988rem) {
      flex-direction: column;
      align-items: center;
      padding: 0px 0.9375rem;
      justify-content: center;
    }
  }

  &__info {
  }
}

.info-hero {
  &__title {
    max-width: 18.75rem;
    font-weight: 700;
  }
}
.hero__media {
  height: 100%;
}
.media-hero {
  &__img {
    &-placeholder {
      background: peachpuff;
      width: 12.5rem;
      height: 350px;
    }
  }
}
