.hero {
  padding: 1.25rem 0px;
}
.hero__container {
}
.hero__content {
  padding: 0px 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightblue;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
}

.hero__info {
}
.info-hero {
}
.info-hero__title {
  max-width: 18.75rem;
  font-weight: 700;
}
.hero__media {
  height: 100%;
}
.media-hero {
}
.media-hero__img {
}
.media-hero__img-placeholder {
  background: peachpuff;
  width: 12.5rem;
  height: 350px;
}

@media (max-width: 47.9988rem) {
  .hero__content {
    flex-direction: column;
    align-items: center;
    padding: 0px 0.9375rem;
    justify-content: center;
  }
}
