.projects {
  padding: 1.25rem 0px;
  &__container {
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
  }

  &__title {
    align-self: center;

    &:not(:last-child) {
      margin-bottom: 1.875rem;
    }
  }

  &__items {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

    @media (max-width: 62.3738rem) {
      flex-direction: column;
    }
  }

  &__item {
  }
}
